<div style="display: flex; justify-content: center; padding-top: 100px;">
    <img style="padding-left: 550px;" src="https://static.wixstatic.com/media/357c23_565703fec17b48578bd1006c7372cd47~mv2.png/v1/fit/w_2500,h_1330,al_c/357c23_565703fec17b48578bd1006c7372cd47~mv2.png" alt="head" width="200px" height="200px">
    <p style="padding-right: 100px; padding-top:30px; font-family: 'Courier New', Courier, monospace; font-weight: bold; color: white; font-size: medium;">La cabeza del Quetzalcoatl está compuesta por diferentes partes, como sus plumas, colmillos, ojos, nariz, etc.</p>
</div>