<div style="display: flex; justify-content: center; padding-top: 100px;">
    <img style="padding-left: 560px;"src="https://tr.rbxcdn.com/4d8ec7a174a94d2c2d3a513c16d852a1/420/420/Hat/Png" alt="tail" width="300px" height="300px">
    <p style="padding-right: 100px; padding-top:30px; font-family: 'Courier New', Courier, monospace; font-weight: bold; color: white; font-size: medium;">Todo dragón cuenta con una cola, así que un Quetzalcoatl también debe tener una, esta cola tiene más escamas y pelaje</p>

</div>